<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="/wpad.dat" value="http://wpad:79/wpad.dat"/>
	</appSettings>
    <system.web>
		<httpHandlers>
			<add verb="*" path="wpad.dat" type="WpadProxy.WpadProxy" />
		</httpHandlers>
        <compilation debug="false" />
        <authentication mode="None" />
    </system.web>
</configuration>
